<footer class="footer">
  <div class="container">
    <span class="text-muted">Created at SIU Center for Teaching Excellence
      <br />
      Data contributed by Mary McCorvie, USDA Forest Service Undergrouund Railroad: People of Miller Grove
      <br /> Recent CAI SIU Field School, Field Research directed by Dr. Mark Wagner, Director of the Center for
      Archaeological Investigations, SIU
      <br />
      Dr. Grant Miller, SIU and Educating with Evidence Underground Railroad in southern Illinois, project

      Stacie Tefft, Murphysboro High School for implementation and data analysis.
      <br />

      Special thanks to Karla Berry, director of the Center for Teaching Excellence, Don Barth (360 Panoramas), Dr.
      Kayeleigh Sharp (XR Team Lead & Miller Grove Concept Developer), as well as our phenomenal undergraduate and
      Graduate student assistants who made it possible: Gary Tippin, Kendra Kennedy, Alyxx Thompson, Joshua Cannon,
      Benjamin Bradley, Bijay Raj Paudel.
    </span>
  </div>
</footer>
