<div class="container" style="height: 95%; width:100%">
  <div class=" title-div row">
    <div class="col">
      <h2 mat-dialog-title>Visual Narrative</h2>
    </div>


    <div class="col button-holder">
      <a mat-mini-fab color="primary" aria-label="back" routerLink="/home" routerLinkActive="active" title="Back">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
    </div>
  </div>


  <iframe style="height: 100%; width:100%"
    src="https://www.arcgis.com/apps/MapSeries/index.html?appid=c3a7e14d9ece4104bca9d9710db879cc" frameborder="0"
    scrolling="no"></iframe>
</div>
